body {
  background-color: #FCD7E8;
}
#navigation.sticky {
  position: fixed;
  top: 0;
}
.vine {
  width: 350px;
  position: relative;
  top: -20px;
}
.nav_content a {
  color: white;
  font-family: "museo", serif;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
}
#nav_home {
  transform: rotate(-50.446deg);
  z-index: 5;
  position: fixed;
  top: 110px;
  left: 40px;
}
#nav_about {
  transform: rotate(10deg);
  z-index: 5;
  position: fixed;
  top: 165px;
  left: 235px;
}
#nav_contact {
  transform: rotate(10deg);
  z-index: 5;
  position: fixed;
  top: 305px;
  left: 75px;
}
#nav_portfolio {
  transform: rotate(25deg);
  z-index: 5;
  position: fixed;
  top: 415px;
  left: 190px;
}
#nav_projects {
  transform: rotate(-50deg);
  z-index: 5;
  position: fixed;
  top: 575px;
  left: 65px;
}
#header img{
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
