body {
  background-color: #CCFFFF;
}
#navigation.sticky {
  position: fixed;
  top: 0;
}
.vine {
  width: 350px;
  position: relative;
  top: -20px;
}
.nav_content a {
  color: white;
  font-family: "museo", serif;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
}
#nav_home {
  transform: rotate(-50.446deg);
  z-index: 5;
  position: fixed;
  top: 110px;
  left: 40px;
}
#nav_about {
  transform: rotate(10deg);
  z-index: 5;
  position: fixed;
  top: 165px;
  left: 235px;
}
#nav_contact {
  transform: rotate(10deg);
  z-index: 5;
  position: fixed;
  top: 305px;
  left: 75px;
}
#nav_portfolio {
  transform: rotate(25deg);
  z-index: 5;
  position: fixed;
  top: 415px;
  left: 190px;
}
#nav_projects {
  transform: rotate(-50deg);
  z-index: 5;
  position: fixed;
  top: 575px;
  left: 65px;
}
#header img{
  height: 100px;
  display: block;
  margin-left: 235px;
}
.grid-container{
  display: grid;
  grid-template-columns: 400px 300px 300px 300px;
  grid-template-rows: 50px 100px 300px 100px 300px;
  align-items: start;
}
.grid-item-1 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.grid-item-2 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.grid-item-3 {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
}
.grid-item-4 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}
.grid-item-5 {
  grid-column: 2 / 4;
  grid-row: 5 / -1;
}
.grid-item-6 {
  grid-column: 4 / 5;
  grid-row: 5 / -1;
}
.grid-container a {
  max-width: 300px;
  color: #9999CC;
  font-family: "eckmannpsych", sans-serif;
  font-weight: 400;
  font-style: small;
  font-size: 60px;
  text-decoration: none;
}
.arch {
  width: 250px;
  padding: 15px;
  border-radius: 25px;

}
p {
  color: #9999CC;
  font-family: century-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 150%;
  padding: 15px;
}
.grid-item-4 a{
  margin-left: -300px;
}
.grid-item-5 p{
  margin-left: -300px;
  max-width: 580px;
}
.grid-item-6 img{
  margin-left: 300px;
  margin-top: -300px;
}
